body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-3xl: 22px;
  --font-size-sm: 14px;

  /* Colors */
  --color-white: #fff;
  --color-slategray-100: #685c79;
  --color-slategray-200: rgba(104, 92, 121, 0.85);
  --color-whitesmoke: #efefef;
}
