.laundry-child {
  position: absolute;
  top: 760px;
  left: -1px;
  background-color: rgba(148, 139, 160, 0.39);
  border: 1px solid #948ba0;
  box-sizing: border-box;
  width: 390px;
  height: 84px;
}
.logo-removebg-preview-1-icon {
  position: absolute;
  top: 6px;
  left: 9px;
  width: 66px;
  height: 93px;
  object-fit: cover;
}
.handyhome {
  position: absolute;
  top: 52px;
  left: 70px;
  font-size: 32px;
  font-family: var(--font-limelight);
  color: var(--color-slategray-100);
}
.vector-icon {
  position: absolute;
  height: 4.86%;
  width: 8.97%;
  top: 92.06%;
  right: 21.03%;
  bottom: 3.08%;
  left: 70%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home-fill0-wght400-grad0-opsz4-icon,
.vector-icon1 {
  position: absolute;
  top: 773px;
  left: 58px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.vector-icon1 {
  height: 4.03%;
  width: 12.31%;
  top: 92.77%;
  right: 44.62%;
  bottom: 3.2%;
  left: 43.08%;
  max-width: 100%;
  max-height: 100%;
}
.pieces,
.required {
  position: absolute;
  top: 282px;
}
.pieces {
  left: 1px;
  display: inline-block;
  width: 170px;
  height: 24px;
}
.required {
  left: 75px;
  font-size: var(--font-size-base);
  color: var(--color-slategray-200);
}
.required,
.span {
  font-weight: 500;
  font-family: var(--font-poppins);
}
.required1,
.wetdry-cleaning {
  position: absolute;
  top: 406px;
  left: 1px;
  font-size: var(--font-size-base);
}
.required1 {
  left: 147px;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-slategray-200);
}
.laundry-item {
  position: absolute;
  top: 563px;
  left: 11px;
  border-radius: var(--br-11xs);
  background: linear-gradient(
    90deg,
    #edebef,
    rgba(237, 235, 239, 0.86) 11.56%,
    rgba(237, 235, 239, 0.34)
  );
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  width: 348px;
  height: 46px;
}
.ironing,
.required2 {
  position: absolute;
  top: 533px;
  left: 1px;
  font-size: var(--font-size-base);
}
.required2 {
  left: 64px;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-slategray-200);
}
.laundry-inner {
  position: absolute;
  top: 664px;
  left: 208px;
  border-radius: var(--br-16xl);
  background-color: var(--color-slategray-100);
  width: 122px;
  height: 57px;
}
.view-bill {
  position: absolute;
  top: 675px;
  left: 234px;
  font-size: 22px;
  font-family: var(--font-patrick-hand);
  color: var(--color-white);
  display: inline-block;
  width: 90px;
  height: 38px;
}
.laundry-child1,
.laundry-child2,
.rectangle-div {
  position: absolute;
  top: 438px;
  left: 11px;
  border-radius: var(--br-11xs);
  background: linear-gradient(
    90deg,
    #edebef,
    rgba(237, 235, 239, 0.86) 11.56%,
    rgba(237, 235, 239, 0.34)
  );
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  width: 348px;
  height: 46px;
}
.laundry-child1,
.laundry-child2 {
  top: 314px;
}
.laundry-child2 {
  top: 203px;
}
.cloth {
  position: absolute;
  top: 173px;
  left: 4px;
  display: inline-block;
  width: 170px;
  height: 24px;
}
.laundry-child3 {
  position: absolute;
  top: 664px;
  left: 56px;
  border-radius: var(--br-16xl);
  background-color: var(--color-slategray-100);
  width: 122px;
  height: 57px;
}
.add {
  position: absolute;
  top: 673px;
  left: 95px;
  font-size: 23px;
  font-family: var(--font-patrick-hand);
  color: var(--color-white);
  display: inline-block;
  width: 90px;
  height: 38px;
}
.select,
.yesno {
  position: absolute;
  top: 213px;
  left: 31px;
  font-family: var(--font-poppins);
  color: var(--color-thistle);
}
.yesno {
  top: 571px;
  left: 41px;
}
.laundry {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-slategray-300);
  font-family: var(--font-yatra-one);
}
